body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  gap: 10px;
  padding: 10px;
}
section {
  flex: 1;
  background-color: #eee;
  padding-left: 20px;
  border: solid #bbb 2px;
}

.header {
  color: white;
  background-color: rgb(76, 214, 76);
  text-align: center;
  padding: 10px 0;
}
footer p {
  font-size: 25px;
}

@media (max-width: 750px) {
  .main {
    flex-direction: column;
  }
}
